services:
  api:
    build: .
    depends_on:
      - db
  nginx:
    build: 
      context: .
      dockerfile: ./webserver/Dockerfile
    restart: always
    ports:
      - "80:80"
    depends_on:
      - api
  db:
    image: postgres:15
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=pokedex_db
    volumes: 
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: